.main-Calender{
    padding: 4rem;
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.title-calender{
    /* font-size: large; */
}
.title-div{
    border-bottom: 2px solid black;
}
.date-input{
    width: fit-content;
    border: 1px solid rgb(180,180,180);
    border-radius: 10px;
    padding: 0.5em;
}
.taskCardDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
    gap: 1em;
    /* border: 1px solid black; */
}
.filterTaskDiv{
    width: fit-content;
}
.taskCard{
    padding: 1em;
    border: 1px solid rgb(180,180,180);
    border-radius: 1rem;
     box-shadow: 1px 8px 10px #8888886b ;
}
.calender-taskTitle{
    font-size:medium;
    padding-right: 1em;
}
.calender-taskElement{
    display: flex;
    flex-direction: column;
}
.calender-taskDate{
    font-size: small;
    font-weight: 600;
    color:rgb(180,180,180) ;
  
}
.calender-taskSubtask{
     font-size: small;
    font-weight: 600;
    color:rgb(40, 39, 39) ;
}