
.Nav-div{
    display: flex;
    background-color: rgb(236, 236, 236);
    color: white;
    width: 20%;
    height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    font-weight: 500;
    
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: rgb(89, 89, 89);
    font-size: small;
    justify-content: center;
    margin-left:10px ;
    margin-bottom: 1em;

    

}   
ul{
    margin-left: 4px;

}
ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
   
   
    
}
ul li a{
     text-decoration: none;
     color: rgb(72, 72, 72);
     padding: 5px;

}
.menu{
    color: rgb(94, 94, 94);
    padding: 2px;
    margin: 4px 4px;
    display: flex;
    justify-content: space-between;
    
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.inputBox-search{
    background-color: transparent;
    border: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 90%;
    height: 25px;
    font-weight: 500 ;
}
.section-div{
    display: flex;
    justify-content: space-between;
    width: 80%; 


}
.count{
    text-align: center;
    width: fit-content;
    height: fit-content;
    
    
}
.icon-div{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.nav-tags{

}
.nav-tagitem{
    padding: 0.5em;
}
.nav-tagTitle{
    display: flex;
    /* justify-content: space-between; */
    /* padding-right: 1em; */
    padding-left: 0%;
}
.tag-input{
    border: 1px solid black;
    border-color: rgb(176, 174, 174);
    border-radius: 5px;
}