.titleDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}
.header {
  font-size: 2rem;
}
.Upcoming-main {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.taskCount {
  font-size: 1.5rem;
  padding: 1rem;
}
.TodayTask-div {
  /* border: 1px solid black;  */
  min-width: 200px;
  padding: 1rem;
  /* background-color: rgb(250, 250, 250); */
}
.todayTaskTitle-div {
  border-bottom: 1px solid black;
}
.todayTaskTitleName {
  font-size: medium;
  text-transform: capitalize;
  font-weight: 500;
}
.todayTaskItem {
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 0.5rem;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.UpcomingTask-Div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 2rem;
}
.displayTask-Div{
  padding: 1rem;
  background-color: whitesmoke;
  min-width: 300px;
  max-width: 300px;

  
}
.displayTaskTitleName{
  font-size: medium;
  text-transform: capitalize;
  font-weight: 500;
  
}

.subTaskimgDiv{
 display: flex;
 align-items: center;
}
.displayTaskItem{
   border-bottom: 1px solid rgb(208, 208, 208);
  padding: 0.5rem;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
  
}
.subtask-Div{
  margin-top: 1rem;
}